
        
        {%extends "app/layout.html"%}
       
              {%block body%}
              <div class="container">
                  <h1 style="font-weight: bolder" class="display-3">Hello!</h1>
                  <p style="font-weight:bolder" class="lead">My name is Zethembe Dlamini and I am a Fullstack Web developer.</p>
                  <hr class="my-4">
                  <p></p>
                  <p class="lead">
                    <a class="btn btn-primary btn-lg" href="{%url "about"%}" role="button">About</a>
                  
                    <a class="btn btn-primary btn-lg" href="{%url "contact"%}" role="button">Contact</a>
                      

                    </p>
                  </div>
                  {%endblock%}
        