<!DOCTYPE html>
{%load staticfiles%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "bootstrap.css" %}">
    <link rel="stylesheet" href="{%static "style.css"%}">
    <title>Document</title>
</head>
<body>
    
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="{%url "index"%}">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                                <a class="nav-link" href="{%url "blog"%}">Blog<span class="sr-only">(current)</span></a>
                              </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="{%url "about"%}">About <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="https://github.com/zethembe/portfolio.git">Github</a>
                    </li>
                    
                    <li class="nav-item">
                      <a class="nav-link " href="https://www.linkedin.com/in/zethembe">LinkedIn</a>
                    </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-0" action="{%url "post" %}" >
                    
                    <button class="btn btn-success my-2 my-sm-0" type="submit">Post</button>
                  </form>
                </div>
              </nav>
              <br>
              <br>
              <br>
              <br>

              {%block body%}
              {%endblock%}
              <footer id="copyright">&copy; copyright</footer>
</body>
</html>